<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js">
	</script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js">
	</script>
	<script src="controller.js">
	</script>
	<title> Angular cookies </title>
</head>
<body ng-app="cookieApp" ng-controller="cookieCtrl">
	<div>{{ cookieValue }}</div>
	Enter the cookie text :<input type="text" ng-model="cookieText"><br>
	<button ng-model="cookieBtn" ng-click="setCookie()">Set Cookie </button><br>
</body>
</html>